<p-table [value]="canciones" dataKey="titulo" [tableStyle]="{ 'min-width': '60rem' }" scrollHeight="70vh"
  [scrollable]="true">
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'titulo'">
        Titulo <p-sortIcon field="titulo"></p-sortIcon>
      </th>
      <th pSortableColumn="artistas">
        Artistas <p-sortIcon field="artistas"></p-sortIcon>
      </th>
      <th pSortableColumn="visitas">
        Reproducciones <p-sortIcon field="visitas"></p-sortIcon>
      </th>
      <th pSortableColumn="duracion">
        Duración <p-sortIcon field="duracion"></p-sortIcon>
      </th>
      <ng-template [ngIf]="inListaCreada&&!inFavoritos">
        <th></th>
      </ng-template>
      <ng-template [ngIf]="isLoged&&!addBoton">
        <th></th>
      </ng-template>
      <ng-template [ngIf]="addBoton">
        <th>
          <button class="btn" (click)="emitirAddCanciones()">
            <i class="pi pi-plus"></i>
          </button>
        </th>
      </ng-template>


    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cancion let-expanded="expanded">
    <tr>

      <td><a (click)="asignarCancion(cancion.id)" routerLink="cancion" class="link-sindec">{{ cancion.titulo }}</a></td>
      <td>{{ cancion.artistasCadena }}</td>
      <td>{{ cancion.visitas }}</td>
      <td>{{ cancion.duracion }}</td>

      <ng-template [ngIf]="isLoged">
        <td>
          <button (click)="accionFavorito(cancion)" [ngClass]="{'btn': true, 'favorito': cancion.enFavorito}">
            <i class="pi pi-heart-fill"></i>
          </button>
        </td>
      </ng-template>

      <ng-template [ngIf]="inListaCreada&&!inFavoritos">
        <td>
          <button (click)="quitarCancion(cancion)" class="btn quitar">
            <i class="pi pi-minus"></i>
          </button>
        </td>
      </ng-template>

    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">No se han añadido canciones.</td>
    </tr>
  </ng-template>
</p-table>
