<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Alta usuario</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container d-flex align-items-center justify-content-center">
		<div class="card bg-light w-50 d-flex align-items-center justify-content-center" >
			<article class="card-body mx-auto " style="max-width: 400px;">
			<h1 class="card-title mt-3 text-center">Rhythm</h1>
			<p>Guarda tus músicas favoritas en tu perfil.</p>
				<h4 class="card-title mt-3 text-center">Login</h4>
				<img src="partitura.png" class="rounded" alt="usuario1"
						width="300" height="150">
				<br>
				<br>
				<form action="#" th:action="@{/post_login}"
				th:object="${usuarioLoginForm}" method="post">
				<div class="text-danger" th:if="${session.containsKey('error')}"
						th:text="${session.error}"></div>
				
					<div class="form-group input-group">
						<input name="" class="form-control" placeholder="Email"
							type="email" th:field="*{email}">
							
							
					</div>
					<div class="text-danger" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}">Email Error</div>
					<br>
					<div class="form-group input-group">
						
						<input class="form-control" placeholder="Contraseña"
							type="password" th:field="*{password}">
					</div>
					<div class="text-danger" th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">Contraseña Error</div>
					<div class="form-group">
					<br>
						<button type="submit" class="btn btn-primary btn-block">
							Enviar</button>
					</div>
					<br>
					<p class="text-center">
						¿Aún no estás registrado? <a href="/usuario_crear">Sign In</a>
					</p>
				</form>
			</article>
		</div>

	</div>

</body>

</html>