<p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
<app-resultados class="cardbox-container" (listaBorrada)="actualizarListas()" (boton)="botonPresionado($event)" *ngIf="activeItem==items[0]" [resultados]="listas" [insertAddButton]="true" [ruta]="'lista'"></app-resultados>
<app-resultados class="cardbox-container" (boton)="botonPresionado($event)" *ngIf="activeItem==items[1]" [resultados]="artistas" [insertAddButton]="artistas?.length==0" [ruta]="'artista'"></app-resultados>
<app-resultados class="cardbox-container" (boton)="botonPresionado($event)" *ngIf="activeItem==items[2]" [resultados]="albums" [insertAddButton]="albums?.length==0" [ruta]="'album'"></app-resultados>

