.loginContainer {
  min-height: 60vh;
  max-height: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
:host ::ng-deep .p-panel-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host ::ng-deep .p-panel {
  width: 30rem;
}

.inputAjuste {
  width: 20rem;
}
