<div class="container loginContainer">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <p-panel header="Iniciar sesión">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid d-flex align-items-center flex-column">
        <div class="ui-grid-row inputAjuste mt-3">
          <span class="p-float-label">
            <input pInputText type="text" class="form-control" id="email" formControlName="email" name="email" />
            <label htmlFor="email">Email</label>
          </span>
          <div class="ui-grid-col-4">
            <div [hidden]="loginForm.controls['email'].valid ||
                !loginForm.controls['email'].dirty" class="alert alert-danger">
              El campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="ui-grid-row inputAjuste mt-4">
          <div class="ui-grid-col-6">
            <span class="p-float-label">
              <input pInputText type="password" class="form-control" id="password" formControlName="password"
                name="password" />
              <label htmlFor="password">Contraseña</label>
            </span>
          </div>
          <div class="ui-grid-col-4">
            <div [hidden]="
                loginForm.controls['password'].valid ||
                !loginForm.controls['password'].dirty
              " class="alert alert-danger">
              El campo es obligatorio.
            </div>
          </div>
        </div>
        <div class="ui-grid-row inputAjuste">
          <div class="ui-grid-col-6 row mt-3">
            <div class="col-4"><button pButton type="submit" label="Entrar" [disabled]="!loginForm.valid"></button>
            </div>
            <div class="col-8 d-flex flex-column justify-content-end align-items-end"><a
                [routerLink]="['registro']">¿Aún no estás registrado?</a></div>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>
      </div>
    </p-panel>
  </form>
</div>
