.cardbox {
  padding: 1rem 1rem 1rem 0;
}

.addButton {
  margin-top: 1rem;
  width: 16rem;
  height: 21.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: rgba(53, 52, 52, 0.171);
}
.addButton:hover {
  cursor: pointer;
  margin-top: 1rem;
  width: 16rem;
  height: 21.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: rgba(100, 99, 99, 0.171);
}
